.container {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;

  background-color: #fff;
}

.logo,
.s-in,
.s-up {
  color: black !important;
}

.logo {
  margin-right: auto;
}

.s-in,
.s-up,
.l-out {
  transition: 0.3s;
  padding: 10px;
  border-radius: 5px;
}

.s-in {
  &:hover {
    background-color: #f6f6f6;
  }

  &:active {
    background-color: #ddd;
  }
}

.s-up {
  border: 1px solid #52c41a;
  color: #52c41a !important;

  &:hover {
    background-color: #edf9e8;
  }

  &:active {
    background-color: #dcf3d1;
  }
}

.l-out {
  border: 1px solid black;
  color: black !important;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: #f6f6f6;
  }

  &:active {
    background-color: #ddd;
  }
}

.full-name {
  margin-bottom: 0 !important;
}
