.form {
  align-self: flex-start;
  margin: 20px auto;
  padding: 48px 32px;
  border-radius: 5px;
  width: 80%;
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.input {
  width: 100%;
  font-size: 20px;
  padding: 8px 12px;
  margin-bottom: 12px;
  line-height: 1em;

  background: #ffffff;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.title {
  margin: 0 0 20px;
  text-align: center;
}

.submit {
  width: 100%;
  background-color: #1890ff;
  color: white;
  padding: 8px;
  border-radius: 4px;
  height: auto;
  margin-bottom: 8px;
}

.already {
  font-size: 12px;
  color: #8c8c8c;
  text-align: center;
}

.link {
  color: #1890ff;
}

.error {
  border-color: #f5222d;
  color: #f5222d;
  margin-bottom: 12px;
}

.input.error {
  margin-bottom: 0;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3px 0;
  gap: 8px;
}

.tagInput {
  padding: 3px 8px;
}

.tagsContainer {
  margin-bottom: 10px;
}
