*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: black !important;

  @media (min-width: 320px) {
    overflow-x: hidden;
  }
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-pagination {
  display: flex;
  justify-content: center;
}
